name: Release

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
    
    steps:
      - uses: actions/checkout@v3
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v3

      - name: Build Image
        run: docker load --input $(nix build .#image --print-out-paths)

      - name: Push Image
        run: |
          export NIXTAG="$(docker image ls ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} | tail -n1 | awk -F' ' '{print $1}')"
          echo $NIXTAG
          docker tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${NIXTAG} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          docker tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${NIXTAG} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          docker push --all-tags ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}